{
  "env": {
    "development": {
      "presets": ["env","react","next/babel"],
      "plugins": ["inline-dotenv"],
    },
    "production": {
      "presets": ["env","react","next/babel"],
      "plugins": ["transform-inline-environment-variables"],
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ]
    }
  }
}
